<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <div class="cont">
            <%- include('../partials/nav.ejs') %>
                <h1>
                    <%= title %>
                </h1>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste similique quam accusamus at vero nam
                    ullam,
                    numquam quaerat doloremque eius recusandae ex et repellendus aperiam corrupti provident, ut eum!
                    Harum!
                </p>
        </div>
    </body>

</html>