<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .cont {

            width: 50%;
            margin: 2rem auto;
            padding: 2rem;
            background: #dddeee;
            font-size: 20;
            font-family: 'Times New Roman', Times, serif;

        }

        h1 {
            color: rgb(6, 129, 680);
        }
    </style>
</head>